[submodule "chordlab"]
	path = chordlab
	url = https://github.com/dvarrazzo/chordlab.git
[submodule "style/chunk"]
	path = style/chunk
	url = https://github.com/theleagueof/chunk.git
[submodule "style/prociono"]
	path = style/prociono
	url = https://github.com/theleagueof/prociono.git
